body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  max-width: 980px;
  margin: 40px auto;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
header h1{
  color: #063277;
}
header a img{
  width: 277px;
}
header h1, img{
  max-width: 20vw;
}
.factory-section{
  background-color: #FEFCE0;
  border: 1px solid black;
  overflow: overlay;
}
.factory-section h2{
  display: inline-block;
  margin-top: 0;
  padding-top: 10px;
  padding-left: 40px;
  padding: 10px 40px 10px 40px;
  border-bottom: 1px solid black;
  position: relative;
}
.factory-section h2::after{
  content: '';
  position: absolute;
  right: -16px;
  top: 6px;
  width: 33px;
  height: 34px;
  border: 1px solid black;
  border-left: 0;
  border-top: 0;
  transform: rotate(135deg);
}

.factory-section .content-wrapper .robot-container, .content div{
  background-color: white;
  border: 1px solid black;
}
.content div:nth-child(1){
  margin-right: 3%;
  margin-bottom: 27px;
}
.content div:nth-child(2){
  margin-right: 6%;
  margin-bottom: 27px;
}
.content div:nth-child(3){
  margin-right: 9%;
  margin-bottom: 27px;
}
.content p {
  padding-left: 20px;
  font-size: large;
}
.content-wrapper img {
  width: 19%;
  float: left;
  margin-right: 20px;
}



.content-wrapper{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  height: 60vh;
  max-height: 340px;
}
.content{
  flex-basis: 57%;
  font-family: sans-serif;
}
.send-message {
  height: 26%;
}
.send-message input{
  width: 75%;
  height: 30px;
  padding-left: 10px;
  margin-left: 3px;
}
.send-message button{
  padding: 5px 27px;
  border-radius: 4px;
  border: 1px solid black;
  margin-top: 7px;
  float: right;
}
.received-messages {
  height: 65%;
}
.received-messages .header-last-message {
  margin: 0;
  text-align: center;
  width: 97%;
}
.received-messages .header-last-message::before, .received-messages .header-last-message::after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 38%;
}
.received-messages .header-last-message::before {
  margin-right: 2%;
}
.received-messages .header-last-message::after {
  margin-left: 2%;
}
.messages {
  overflow: auto;
  height: 95%;
}
.messages .name {
  display: inline-block;
  font-weight: 600;
}
.messages .date {
  display: inline-block;
  font-weight: 600;
  margin-left: 10px;
}
.messages .date span {
  margin-left: 5px;
  display: none;
}
.messages .date:hover span {
  display: inline;
}
.message p {
  margin: 10px 0px 0px 0px;
}
.robot-container{
  flex-basis: 37%;
  margin-left: 10px;
  
}
.create-robot{
  background-color: #DFEDD6;
  border: 1px solid black;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.create-robot .heading{
  flex-grow: 1;
  flex-basis: 100%;
  text-align: center;
  font-size: 20px;
  margin: 0;
  padding: 5px 0px 5px 0px;
  border-bottom: 1px solid;
}
.create-robot div, button{
  margin: 15px;
}
.create-robot div label{
  display: block;
  margin: 0;
  margin-bottom: 7px;
}
input.name, select.select-type{
  max-width: 30vw;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
}
select.select-type{
  height: 34px;
}
input.color-picker{
  height: 34px;
  width: 90px;
  padding: 0px 10px 0px 10px;
  border-radius: 5px;
  border: 1px solid black;
}
input.jump, input.talk, input.blink{
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
form button{
  margin-right: 0;
  padding: 9px 38px;
  border-radius: 5px;
  border: 1px solid black;
}
button:hover{
  background-color: #E2E0E0;
  cursor: pointer;
}
form label{
  margin-bottom: 7px;
}
textarea#phrase{
  resize: none;
  border-radius: 5px;
  border: 1px solid black;
}
.robot-container{
  position: relative;

}
.robot-container p{
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0%);
}
.head{
  width: 15%;
  height: 20%;
  border-radius: 50%;
  position: absolute;
  top:7%;
  left: 50%;
  transform: translate(-50%, -7%);
  border: 1px solid black;
}
.left-hand, .right-hand{
  width: 5%;
  height: 25%;
  border-radius: 4px;
  background-color: #EBEBEB;
  position: absolute;
  border: 1px solid black;
  z-index: 1;
  top: 30%;
}
.male .left-hand{
  left: 32.5%;
}
.male .right-hand{
  right: 32.5%;
}
.female .left-hand{
  left: 35.5%;
}
.female .right-hand{
  right: 35.5%;
}
.left-leg, .right-leg{
  width: 5%;
  height: 22%;
  position: absolute;
  border: 1px solid black;
}
.left-leg{
  top: 63%;
  left: 42%;
}
.right-leg{
  top: 63%;
  right: 42%;
}
.body{
  background-color: rgb(111, 206, 238);
}
.male .body{
  width: 20%;
  height: 35%;
  transform: perspective(10px) rotateX(-2deg);
  position: absolute;
  top: 31%;
  left: 40%;
}
.female .body{
  width: 20%;
  height: 35%;
  transform: perspective(10px) rotateX(2deg);
  position: absolute;
  top: 23.5%;
  left: 40%;
}
div.left-eye, div.right-eye{
  border: 1px solid black;
  border-radius: 50%;
  width: 20%;
  height: 20%;
  position: absolute;
  bottom: 60%;
}
div.left-eye{
  left: 16%;
}
div.right-eye{
  right: 16%;
}
div.mouth{
  border: 1px solid black;
  width: 50%;
  height: 15%;
  border-radius: 50%;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%);
}
.bubble {
  display: none;
  position: absolute;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 24px;
  background: rgb(248, 241, 241);
  border-radius: 40px;
  padding: 24px;
  text-align: center;
  color: #000;
  left: 65%;
  top: -10%;
  z-index: 1;
  width: 55%;
  overflow-wrap: break-word;
}
.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid rgb(248, 241, 241);
  border-right: 12px solid transparent;
  border-top: 12px solid rgb(248, 241, 241);
  border-bottom: 20px solid transparent;
  left: 32px;
  bottom: -24px;
}
.can-talk .bubble{
  display: block;
  animation-name: bubble-talk;
  animation-delay: 10s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
@keyframes bubble-talk{
  to{visibility: hidden;}
}
.can-talk .mouth{
  animation-name: talk;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: 10;
}
@keyframes talk{
  to{height: 30%;}
}
.can-jump .right-leg, .can-jump .left-leg{
  animation-name: jump;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
@keyframes jump{
  to{height: 12%;}
  to{top: 60%;}
}
.can-jump .head{
  animation-name: jump-head;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
@keyframes jump-head{
  to{top: 4%;}
}
.can-jump.female .body{
  animation-name: jump-female-body;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
@keyframes jump-female-body{
  to{top: 20.5%;}
}
.can-jump.male .body{
  animation-name: jump-male-body;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
@keyframes jump-male-body{
  to{top: 28%;}
}
.can-jump .left-hand, .can-jump .right-hand{
  animation-name: jump-hands;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
@keyframes jump-hands{
  to{top: 27%;}
}
.can-blink .left-eye{
  animation-name: blink;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
@keyframes blink{
  to{height: 0%;}
}
@keyframes fadeIn{
  0% {opacity: 0%;}
  100%{opacity: 1;}
}
.content p, img{
  opacity: 0;
  animation: fadeIn 1s forwards;
}
.content div .second{
  animation-delay: 1s;   
}
.content div .third{
  animation-delay: 2s;
}
hr{
  width: 100%;
  border: none;
  background: black;
  height: 1px;
}
.slide{
  animation: fade 1.5s;
}
.prev, .next{
  cursor: pointer;
  user-select: none;
  padding: 8px;
  background-color: #EBEBEB;
  border-radius: 5px;
  border: 1px solid black;
}
.next{
  padding-left: 23px;
  padding-right: 23px;
  margin-left: 20px;
}
.buttons {
  margin-top: 20px;
  position: relative;
  left: 38%;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
div.error-name, div.error-type{
  margin: 0;
  background: red;
  max-width: 29vw;
  padding: 5px;
  z-index: 1;
  bottom: 63px;
  position: relative;
  border-radius: 3px;
  text-align: center;
}
div.error-phrase{
  margin: 0;
  background: red;
  padding: 5px;
  z-index: 1;
  top: -114px;
  position: relative;
  border-radius: 3px;
  text-align: center;
}
.robot-table td, .robot-table th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
.robot-table td a {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
.robot-table td .color {
  margin: 0px auto;
  border: 1px solid black;
  width: 35%;
  padding: 5%;
}
.robot-table tr:nth-child(1) {
  background-color: #dddddd;
}
.robot-table tr{
  background-color: white;
}
.robot-table {
  width: 100%;
}
.robot-table table{
  width: 100%;
  border-collapse: collapse;
}
.robot-table p{
  text-align: center;
  margin-top: 0;
  font-size: 20px;
}
.content .message-buttons button {
  margin-right: 0;
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid black;
}
.content .message-buttons {
  text-align: center;
}
